---
layout: none
nav_active: plugins
title: Phoca Cart Payment Gateway - Accept Payments with 15+ Providers | PaymentHood
description: PaymentHood for Phoca Cart lets you accept one-time payments on your Joomla store through 15+ global payment providers including PayPal, Stripe, and Authorize.net. Free plugin. 5-minute setup.
---
{% include header-secondary.html %}
<link rel="stylesheet" href="{{ '/assets/css/phocacart-product.css' | relative_url }}">
<main id="main-content">
    {% include phocacart-product/hero.html %}
    {% include phocacart-product/stats.html %}
    {% include phocacart-product/payment-types.html %}
    {% include phocacart-product/features.html %}
    {% include phocacart-product/how-it-works.html %}
    {% include phocacart-product/providers.html %}
    {% include phocacart-product/why.html %}
    {% include phocacart-product/faq.html %}
    {% include phocacart-product/cta.html %}
</main>
<script src="{{ '/assets/js/phocacart-product.js' | relative_url }}"></script>
{% include footer.html %}