---
layout: none
nav_active: home
title: Terms of Use
description: Unlock the full potential of payment processing with our comprehensive suite of tools designed for modern businesses.
---

    {% include header-secondary.html %}

    <main id="main-content" class="legal-main">
        <div class="container">
            <div class="legal-card" role="article" aria-labelledby="term_of_use-title">
                <article>
                    {% capture term_of_use_content %}{% include_relative legals/term-of-use.md %}{% endcapture %}
                    {{ term_of_use_content | markdownify }}
                </article>
            </div>
        </div>
    </main>

    {% include footer.html %}