---
layout: none
nav_active: plugins
title: WooCommerce Payment Gateway - Accept Payments with 15+ Providers | PaymentHood
description: PaymentHood for WooCommerce lets you accept one-time payments through 15+ global payment providers including PayPal, Stripe, and Authorize.net. Free plugin. 5-minute setup.
---
{% include header-secondary.html %}
<link rel="stylesheet" href="{{ '/assets/css/woocommerce-product.css' | relative_url }}">
<main id="main-content">
    {% include woocommerce-product/hero.html %}
    {% include woocommerce-product/checkout.html %}
    {% include woocommerce-product/stats.html %}
    {% include woocommerce-product/payment-types.html %}
    {% include woocommerce-product/features.html %}
    {% include woocommerce-product/how-it-works.html %}
    {% include woocommerce-product/providers.html %}
    {% include woocommerce-product/why.html %}
    {% include woocommerce-product/faq.html %}
    {% include woocommerce-product/cta.html %}
</main>
<script src="{{ '/assets/js/woocommerce-product.js' | relative_url }}"></script>
{% include footer.html %}