---
layout: none
slug: phoca-cart
redirect_from: /phoca-cart/
nav_active: integrations
title: Phoca Cart Payment Gateway Plugin
description: PaymentHood for Phoca Cart lets you accept one-time payments on your Joomla store.
---
{% include header-secondary.html %}
{% assign d = site.data.integrations["phoca-cart"] %}{% include software-application.html app=d.software %}
{% include breadcrumb.html %}
<link rel="stylesheet" href="{{ '/assets/css/components.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/phocacart-product.css' | relative_url }}">
{% include integration-product.html slug=page.slug %}
{% include footer.html %}
