---
layout: none
slug: whmcs
redirect_from: /whmcs/
nav_active: integrations
title: WHMCS Payment Gateway Module - Accept One-Time & Recurring Payments
description: PaymentHood for WHMCS lets you accept one-time and subscription payments through 15+ global payment providers. Free WHMCS payment gateway module. No coding. Setup in minutes.
---
{% include header-secondary.html %}
{% include software-application.html app=site.data.integrations.whmcs.software %}
{% include breadcrumb.html %}
<link rel="stylesheet" href="{{ '/assets/css/components.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/whmcs-product.css' | relative_url }}">
{% include integration-product.html slug=page.slug %}
{% include footer.html %}
