---
layout: none
slug: woocommerce
redirect_from: /woocommerce/
nav_active: integrations
title: WooCommerce Payment Gateway Plugin - Accept Payments with 15+ Providers
description: PaymentHood for WooCommerce lets you accept one-time payments through 15+ global payment providers including PayPal, Stripe, and Authorize.net. Free plugin. 5-minute setup.
---
{% include header-secondary.html %}
{% include software-application.html app=site.data.integrations.woocommerce.software %}
{% include breadcrumb.html %}
<link rel="stylesheet" href="{{ '/assets/css/components.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/woocommerce-product.css' | relative_url }}">
{% include integration-product.html slug=page.slug %}
{% include footer.html %}
