---
layout: none
slug: virtuemart
redirect_from: /virtuemart/
nav_active: integrations
title: VirtueMart Payment Gateway Plugin
description: PaymentHood for VirtueMart lets you accept one-time payments on your Joomla store.
---
{% include header-secondary.html %}
{% include software-application.html app=site.data.integrations.virtuemart.software %}
{% include breadcrumb.html %}
<link rel="stylesheet" href="{{ '/assets/css/components.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/virtuemart-product.css' | relative_url }}">
{% include integration-product.html slug=page.slug %}
{% include footer.html %}
