<section class="phoca-stats-bar">
    <div class="container">
        <div class="row text-center gy-4">
            <div class="col-6 col-md-3">
                <div class="phoca-stat-item">
                    <div class="phoca-stat-number">15+</div>
                    <div class="phoca-stat-label">Payment Providers</div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="phoca-stat-item">
                    <div class="phoca-stat-number">5min</div>
                    <div class="phoca-stat-label">Average Setup Time</div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="phoca-stat-item">
                    <div class="phoca-stat-number">1</div>
                    <div class="phoca-stat-label">Plugin for All Providers</div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="phoca-stat-item">
                    <div class="phoca-stat-number">$0</div>
                    <div class="phoca-stat-label">Plugin Cost</div>
                </div>
            </div>
        </div>
    </div>
</section>
